<form [formGroup]="profileForm1" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="description">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Due date</label>
        <input type="text" class="form-control" id="exampleInputPassword1" bsDatepicker  formControlName="duedate">
      </div>
      <div class="mb-3">
        <label for="disabledSelect" class="form-label">priority</label>
        <select id="disabledSelect" class="form-select" formControlName="priority">
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
          

        </select>
      </div>

      <div formArrayName="cheaklists">
        <div class="row">
          <p>xx {{cheaklistss.controls}}</p>
          <div class="col-12" *ngFor="let cheaklist of cheaklistss.controls; let i = index" >
            <div class="row" [formGroupName]="i">
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="flexCheckChecked-{{i}}" formControlName="isDone"  checked>
                  <label class="form-check-label" for="flexCheckChecked-{{i}}">
                    Checked checkbox
                  </label>
                </div>
                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="name">
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-danger mt-4" (click)="removCeheckList(i)">remove</button>
              </div>
            </div>
           
          
          </div>
         
        </div>
        <button type="submit" class="btn btn-success mt-1" (click)="addCheckList()">Add</button>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-secondary">close</button>

  </form>

